<fieldset>
  <legend align='center'>Oxxo Pay</legend>

  <div class='opps-info text-center'>
    <div class='opps-brand'>
      <%= image_tag 'oxxopay_brand.png', alt: 'OXXO Pay' %>
    </div>
  </div>

  <div class='opps-reference'>
    <h3>Referencia</h3>
    <h1><%= payment.response_code.to_s.scan(/.{1,4}/).join('-') %></h1>
  </div>

  <%= link_to t('payment.print_ticket'),
              oxxo_pay_receipt_path(number: payment.number),
              target: 'new',
              class: 'eyecatcher-link__text' %>
</fieldset>
