<div class='row'>
  <div class='twelve rows alpha omega center'>
    <div class='payment-label-title'>Oxxo Pay</div>
    <p class='payment-label-description'>Al completar tu compra se te entregará un número de referencia para que puedas
    pagar en tu tienda Oxxo más cercana</p>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <% if SolidusSupport.combined_first_and_last_name_in_address? || current_order.ship_address.respond_to?(:name) %>
      <% first_name = current_order.ship_address&.name&.split&.first %>
      <% last_name = current_order.ship_address&.name&.split&.last %>
    <% elsif current_order.ship_address.respond_to?(:full_name) %>
      <% first_name = current_order.ship_address&.full_name&.split&.first %>
      <% last_name = current_order.ship_address&.full_name&.split&.last %>
    <% else %>
      <% first_name = current_order.ship_address&.first_name %>
      <% last_name = current_order.ship_address&.last_name %>
    <% end %>

    <%= hidden_field_tag "#{param_prefix}[first_name]", first_name %>
    <%= hidden_field_tag "#{param_prefix}[last_name]", last_name %>
    <%= hidden_field_tag "#{param_prefix}[number]", current_order&.number %>
  </div>
</div>
